{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block page_title %}
  クイズ作成
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold">クイズ作成と出題</h1>
<h3 class="text-xl mt-2">クイズを作成保存し、保存したクイズを出します</h3>
<div class="flex space-x-2 mt-3">
  <a href="{{ url_for('create') }}" class="text-blue-400 underline hover:text-blue-600 hover:cursor-pointer">新規作成</a>
  <a href="{{ url_for('edit') }}" class="text-blue-400 underline hover:text-blue-600 hover:cursor-pointer">編集</a>
  <a href="{{ url_for('quiz') }}" class="text-blue-400 underline hover:text-blue-600 hover:cursor-pointer">出題</a>
</div>
{% endblock %}

